@import url('http://fonts.cdnfonts.com/css/gilroy-bold');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
}
.main{
    width: 100%;
    background: #F8FFFF;
}
.main_container{
    max-width: 1190px;
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

/* header */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: 700;
}
nav{
    width: 60%;
}
.ul_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tel{
    display: flex;
    align-items: center;
    grid-gap: 15px;
}
.tel a {
    color:#1E959B;
}
.btn{
    padding: 16px 25px;
    border-radius: 15px;
    background: #F05670;
    color: #ffff;
    border: none;
    transition: all .5s ease;
    cursor: pointer;
}
.btn:hover{
   background-color:#1E959B ; 
}

/* section_one */
.sec_img_txt{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-gap: 20px;
    padding-top: 100px;
}
.txt_container h3{
    width: 100%;
    max-width: 420px;
    color:  #1E959B; 
    font-family: 'Gilroy-Bold', sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.txt_container p{
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: 400;
    width: 100%;
    max-width: 320px;
    font-size: 14px;
    color: #3C3C3C;
    line-height: 20px;
    margin-bottom: 50px;
}
.sec_img{
    width: 621px;
}
.sec_img img{
    width: 100%;
}

/* section two */
.brends{
    width: 100%;
    max-width: 2050px;
    padding: 20px;
    margin-top: 60px;
    background-color: #1E959B;
}
.brends img{
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}

/* section three */
.parent{
    width: 100%;
    padding-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    grid-gap: 20px;
}
.box_active{
    Width :195px;
    Height :164px ;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
    box-shadow: inset 0px 4px 4px rgba(30, 149, 155, 0.5);
    border-radius: 25px;
}
.box{
    Width :195px;
    Height :164px ;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
    box-shadow: 0px 4px 4px rgba(30, 149, 155, 0.5);
    border-radius: 25px;
}
.box_cont{
    padding: 20px;
}
.box_cont img{
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
}
.box_cont p{
    width: 100%;
    max-width: 151px;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #3C3C3C;
    font-family: 'Gilroy-Light', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* section five */
.sec_five{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 450px;
    margin-top: 140px;
    background-color: #f5f1f1;
}
.txt_container-five{
    max-width: 608px;
}
.txt_container-five h4{
    font-family: 'Gilroy-Light';
    color: #F05670;
}
.txt_container-five h1{
    margin-top: 6px;
    color: #1E959B;
    font-family:' Gilroy-Light';
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    text-transform: uppercase;
}
.sec_img_five{
    max-width: 469px;
}
.sec_img_five img{
    width: 100%;
}
.icons1{
    position: absolute;
    top: 0;
    left: 123px;
}
.icons2{
    position: absolute;
    bottom:0px;
}
.icons3{
    position: absolute;
    top: 343px;
    left: 0;
}
.icons4{
    position: absolute;
    top: 0;
    right: 0;
}

/* section six */
.sec_six{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    grid-gap: 50px;
    flex-wrap: wrap;
    margin-top: 100px;
}
.hr{
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: 154px;
    background: #1E959B;
}
.sec_six_container{
    position: relative;
    width: 250px;
    height: 290px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%);
    box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
    border-radius: 30px;
    margin-top: 50px;
}
.sec_six_circle{
    position: absolute;
    top: -20%;
    left: 20%;
    width: 150px;
    height: 150px;
    background: #1E959B;
    border-radius: 50%;
}
.sec_six_circle img{
    width: 60%;
    height: 60%;
    display: block;
    margin: 20px auto;
}
.sec_six_txt{
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 120px;
     text-align: center;
}
.sec_six_txt h3{
    font-family:' Gilroy-bold';
    font-weight: 700;
    color: #1E959B;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

/* section seven */
.sec-seven{
    width: 100%;
}
.sec-sevens{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-wrap: wrap;
   padding-top: 100px;
   margin-bottom: 150px;

}
.seven-btn{
    padding: 21px 25px;
    background: #F05670;
    box-shadow: 0px 5px 10px rgba(30, 149, 155, 0.5);
    border-radius: 20px;
    border: none;
    font-family:' Gilroy-Light';
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.seven-btn:hover{
   background-color:#1E959B ; 
}
/* footer */
.footer{
    width: 100%;
   background: 
   linear-gradient(180deg, #FFFFFF 0%, #F7F9FD 100%),
     linear-gradient(0deg, #C4C4C4, #C4C4C4);
   
    padding-top: 85px;
}
.footer-logo{
    margin-left: 104px;
}
.footer-block-ul ul li{
    color: #1E959B;
    font-size: 16px;
    font-family:'Gilroy-Light';
}
.footer-block-ul ul li:nth-child(2){
    margin-top: 22px;
}
.footer-block-tel ul li{
    color: #1E959B;
    font-size: 16px;
    font-family:'Gilroy-Light';
}
.footer-block-tel ul li:nth-child(2){
    margin-top: 20px;
}
.footer-block-icon{
    display: flex;
    margin-top: 20px;
}
.footer-block-info{
    display: flex;
}
.footer-block-info img{
    width: 80px;
    height: 80px;
}
.footer-block-info h3{
    margin-top: -20px;
    max-width: 290px;
    font-family:'Gilroy-Light';
        font-size: 14px;
        line-height: 17px;
}
.footer-blocks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-copy{
    text-align: center;
    color: rgba(60, 60, 60, 0.5);
    font-family:'Gilroy-Light';
}

/* slider */
.slider {
	position: relative;
	height: 100%;
	width: 100%;
	overflow:hidden;
    display: none;
}
.slider-content {
	position: relative;		
	width: 100%;
}
.slider-content-wrapper {
	display: flex;
	height:300px;
	transition: transform 0.5s ease-in-out;
}
.slider-content__item {
	flex: 1 0 100%;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	font-size: 100px;
	color: rgba(0,0,0,0.2);
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider-controls {
	padding:20px;
	text-align: center;
}
.slider-content__controls {
	position:absolute;
	top:0;left:0;
	width: 100%;
	height: 100%;
	z-index:1;
}
.prev-arrow, .next-arrow {
	position:absolute;
    width: 50%;
	top:50%;
	transform: translateY(-50%);
	cursor: pointer;
	color:rgba(0,0,0, 0.3);
	width: 20px;
	transition: all 0.3s;
}
.prev-arrow {left: 20px;}
.next-arrow {right: 20px;}
.prev-arrow:hover,
.next-arrow:hover {
	cursor: pointer;
	color:rgba(0,0,0, 0.7);
}
.dots {
	position:absolute;
	display: flex;
	left:50%;
	transform: translateX(-50%);
	bottom:10%;
}
.dot:last-child {margin-right: 0;}
.dot:hover {background-color: #fff;}
.dot--active {background-color: rgba(255,255,255, 0.5);}
.disabled {
	background-color: #DCCFCF;
	color:#B0A8A8;
	cursor: default;
	pointer-events:none;
}
.d-none {display: none;}
.active {opacity: 1;}
.centered {
	position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	
}
@media screen and (max-width:900px) {
    .header{
        justify-content: center;
    }
    nav{
        display: none;
    }
    .sec_img_txt{
        flex-wrap: wrap;
        justify-content: center;
    }
    .txt_container h3{
        text-align: center;
        max-width: 500px;
    }

    .txt_container p{
        text-align: center;
        max-width: 500px;
    }

    .txt_container .btn{
        text-align: center;
        display: block;
        margin: 0 auto;
    }  
    .sec_five{
        display: none;
    }
    .footer-logo{
        display: none;
    }  
}
@media screen and (max-width: 678px) {
    .main_container .slider{
        display: block;
    }
    .parent{
        display: none;
    }
}
@media screen and (max-width: 568px) {
    .sec-sevens .sec-seven-btn{
        padding-top: 100px;
    }
}